body {
    background: linear-gradient(blue 0%, orange 50%, green 90%, blue 100% );
}

header {
    color: rgb(201, 202, 221);
}
#container {
    width: 55%;
    height: 500px;
    padding: 1%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px dotted gray;
    border-radius: 10px;
    background: linen;
}
#output {
    width: 70%;
    margin: auto;
}
/* Selects any valid <input> */
input:valid {
    background-color: powderblue;
  }
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/:valid */