* {
    background-color: cadetblue;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 15px;
    background-color: cornsilk;
}

input:required {
    background-image: none;
}

/* input:focus:invalid { 
    background-image: url('');
} 
input:focus:valid { 
    background-image: url('');
} */
.oop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}